extends layout

block content
  section
    .container
       each project in user.Projects
         .project(data-id=project.Id)
           h2 Project: #{project.Name}
           p Your API Key is #{project.Id}
           p Number of connections today #{summary.today.count} (Failed: #{summary.today.count - summary.today.successful })
           p Total number of connections  #{summary.total.count} (Failed: #{summary.total.count - summary.total.successful })

       a.btn.btn-default Add Project

  script.
    $('.project').click(function() {
      location.href = '/project/' + $(this).data('id');

    });
